:host {
  --header-background: #cc333f;
  --header-color: #ffffff;
  --button-hover-color: #1693a5;
  --today-background: #f5e7dc;
  --placeholder-background: #eeeeee;
  --day-border-color: #cccccc;
  --calendar-background: #ffffff;

  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  font-size: 1rem;
}

.header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-top: min(3%, 1rem);
  padding-bottom: min(3%, 1rem);
  justify-content: center;
  color: var(--header-color);
  background: var(--header-background);
  border-radius: 5px 5px 0 0;
  font-size: 1.2em;
}

.medium .header {
  font-size: 1em;
}

.small .header {
  font-size: 0.8em;
}

.header h2 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.header .year {
  font-weight: normal;
}

.header .previousButton,
.header .nextButton {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 150ms;
}

.header .previousButton:hover,
.header .nextButton:hover {
  color: var(--button-hover-color);
}

.days {
  display: grid;
  grid-template-rows: 2rem;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: none;
  background: var(--header-background);
  gap: 1px;
}

.daysLarge,
.daysMedium,
.daysSmall {
  display: none;
}

.large .daysLarge,
.medium .daysMedium,
.small .daysSmall {
  display: grid;
}

.days .dayHeader {
  align-self: stretch;
  justify-self: stretch;
  background: var(--header-background);
  color: var(--header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid var(--day-border-color);
  background: var(--day-border-color);
  gap: 1px;
}

.grid > .day {
  display: grid;
  background: var(--calendar-background);
}

.grid > .day > div {
  grid-area: 1 / 1 / 2 / 2;
}

.grid > .day::before {
  content: '';
  padding-bottom: 100%;
  display: block;
  grid-area: 1 / 1 / 2 / 2;
}

.grid .placeholder {
  background: var(--placeholder-background);
}

.grid .day > div {
  padding: 0.5rem;
}

.small .grid .day > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid .day.today {
  background: var(--today-background);
}

.event {
  height: 1rem;
  padding: 0.25rem;
  top: 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;
}

.event .dot {
  background: blue;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-right: 0.25rem;
}

.event .time {
  margin-right: 0.25rem;
}

.event .name {
  font-weight: bold;
}
