.calendar {
  --header-background: #cc333f;
  --header-color: #ffffff;
  --button-hover-color: #1693a5;
  --today-background: #f5e7dc;
  --placeholder-background: #eeeeee;
  --day-border-color: #cccccc;
  --calendar-background: #ffffff;

  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  font-size: 1rem;
}

.calendar .header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-top: min(3%, 1rem);
  padding-bottom: min(3%, 1rem);
  justify-content: center;
  color: var(--header-color);
  background: var(--header-background);
  border-radius: 5px 5px 0 0;
  font-size: 1.2em;
}

.calendar.medium .header {
  font-size: 1em;
}

.calendar.small .header {
  font-size: 0.8em;
}

.calendar .header h2 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.calendar .header .titleYear {
  font-weight: normal;
}

.calendar .header .previousButton,
.calendar .header .nextButton {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 150ms;
}

.calendar .header .previousButton:hover,
.calendar .header .nextButton:hover {
  color: var(--button-hover-color);
}

.calendar .days {
  display: grid;
  grid-template-rows: 2rem;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: none;
  background: var(--header-background);
  gap: 1px;
}

.calendar .daysLarge,
.calendar .daysMedium,
.calendar .daysSmall {
  display: none;
}

.calendar.large .daysLarge,
.calendar.medium .daysMedium,
.calendar.small .daysSmall {
  display: grid;
}

.calendar .days .dayHeader {
  align-self: stretch;
  justify-self: stretch;
  background: var(--header-background);
  color: var(--header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.calendar .grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid var(--day-border-color);
  background: var(--day-border-color);
  gap: 1px;
}

.calendar .grid > div {
  display: grid;
  background: var(--calendar-background);
}

.calendar .grid > div > div {
  grid-area: 1 / 1 / 2 / 2;
}

.calendar .grid > div::before {
  content: '';
  padding-bottom: 100%;
  display: block;
  grid-area: 1 / 1 / 2 / 2;
}

.calendar .grid .placeholder {
  background: var(--placeholder-background);
}

.calendar .grid .day > div {
  padding: 0.5rem;
}

.calendar.small .grid .day > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .grid .day.today {
  background: var(--today-background);
}
