<div class="{{classes.calendar}}">
  <div class="{{classes.header}}">
    <button class="{{classes.previousButton}}">{{{icons.previous}}}</button>
    <h2><span class="{{classes.titleMonth}}">{{month}}</span> <span class="{{classes.titleYear}}">{{year}}</span></h2>
    <button class="{{classes.nextButton}}">{{{icons.next}}}</button>
  </div>
  <div class="{{classes.days}}">
    {{#dayLabels}}<div class="{{classes.dayHeader}}">{{.}}</div>{{/dayLabels}}
  </div>
  <div class="{{classes.grid}}">
    {{#beginPlaceholders}}
      <div class="{{classes.placeholder}}"></div>
    {{/beginPlaceholders}}

    {{#days}}
      <div class="{{classes}}"><div>{{date}}</div></div>
    {{/days}}

    {{#endPlaceholders}}
      <div class="{{classes.placeholder}}"></div>
    {{/endPlaceholders}}
  </div>
</div>
