<div class="header">
  <h2><span>{{month}}</span> <span class="titleYear">{{year}}</span></h2>
</div>
<div class="days daysLarge">
  {{#fullDayNames}}<div class="dayHeader">{{.}}</div>{{/fullDayNames}}
</div>
<div class="days daysMedium">
  {{#shortDayNames}}<div class="dayHeader">{{.}}</div>{{/shortDayNames}}
</div>
<div class="days daysSmall">
  {{#initialDayNames}}<div class="dayHeader">{{.}}</div>{{/initialDayNames}}
</div>
<div class="grid">
  {{#beginPlaceholders}}
    <div class="placeholder"></div>
  {{/beginPlaceholders}}

  {{#days}}
    <div class="{{classes}}"><div>{{date}}</div></div>
  {{/days}}

  {{#endPlaceholders}}
    <div class="placeholder"></div>
  {{/endPlaceholders}}
</div>
